#Überschrift{text-align:center;
font-size: 5 em;
}

.Bilduntertitel{font-size: large   ;
font-weight: bold;

}

#h1{margin-left: 10em;
color: Gold;
 
}

#BilderContainer_1{margin-left: 10em;
margin-top:10em 

}



#h2{margin-left: 10em;
color: Black;
margin-top:45em;

 
}


