.body { padding-top: 70px; 
text-align:right;
}

.peter { padding-top: 70px;

text-align:center;
}

.button1 {text-align:center;
width:300px;
font-size:300%;
}

..col-xs-12 .col-sm-6 .col-lg-8 {text-align:right;
font-size: 5 em;
padding-top: 100em;
color : #0000FF;
}

.col-xs-6 .col-lg-4 {margin-left: 175%;
padding-top: 70em


}

.button {  width:300px;
 text-align:center;
           font-family:System,sans-serif;
           font-size:300%;
 }
.display { width:100%; text-align:right;
           font-family:System,sans-serif;
           font-size:300%;

 }
.Rechner { width:300%; text-align:left;
           font-family:System,sans-serif;
           font-size:100%;
margin-left: 33em; }


 }.img { width :50%;
height:100%;
} 

h5 {text-align:center;
font-size: 5 em;
;
}
.Computer {margin-left: 100em;
}

.Fragen {margin-left: 75em;
margin-top:30em;
}
.img { width :50%;
height:100%;
} 


